<div class="text-center">
  <h1>{{project_name}}</h1>
  <p>{{project_description}}</p>
  <p>Created by {{project_manager}}</p>
  <p>Project start date{{project_start_date}}</p>
  <p>Project end date{{project_end_date}}</p>
  <p>Project status{{project_status}}</p>

</div>

